<h1 class="jquery">Hello jQuery!</h1>


<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
       <%= image_tag 'nature-1.jpg' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'nature-2.jpg' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'nature-3.jpg' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'nature-4.jpg' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'nature-5.jpg' %>
    </div>
  </div>
  <!-- ページネーションの要素 -->
  <div class="swiper-pagination"></div>
  <!-- ナビゲーションボタン （前、次） -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>


<!--2/6 ITパスポート過去問R5年-->
<!--2/7 面接・面接対策・その他就職活動-->
<!--2/8 就職活動・ITパスポート-->
<!--2/9 就職活動(企業の選定、面接対策など)-->

<!--2/11 ITパスポート学習-->
<!--2/12 ITパスポート学習-->
<!--2/13 就職活動（企業の選定）・ITパスポート学習-->
<!--2/14 ITパスポート学習過去問R4-->

<!--2/16 ITパスポート学習過去問R4-->


<!--2/19 就職活動（志望動機策定など）・ITパスポート学習-->
<!--2/20 自己分析・適正検査・ITパスポート学習-->